
<div class="box">
  <div class="item">
  <div class="main-container">
    <div class="item">
      <div class="outer-container">
        <div class="item">
          <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt="Google Logo" id="google-logo">
        </div>
        <div class="item">
          
        </div>
        <div class="item">

        </div>
        <div class="item">

        </div>
      </div>
    </div>
    <div class="item">
      <div class="outer-container">
        <div class="item">
          <div class="inner-container">
            <div class="item">
              <h1 class="SignIn-text">Create Your Google Account</h1>
            </div>
            <div class="item">
              <h5 class="text">Use Your Google Account</h5>
            </div>
          </div>
        </div>
        <div class="=item">
          <div class="container">
            <div class="item">
              <div class="inner-container">
                <div class="container2">
                  <div class="item">
                    <mat-form-field appearance="outline" class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>
                  </div>
                  <div class="iteam">
                    <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" >
                  </mat-form-field>
                  </div>
                </div>
                <div class="item" >
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email or Phone" >
                  </mat-form-field><br/>
                  <p>You can use letters,numbers & periods</p>
                </div>
                <div class="container2">
                  <div class="iteam">
                    <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" >
                  </mat-form-field>
                  </div>
                  <div class="iteam">
                    <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" >
                  </mat-form-field>
                  </div>
                </div>
                <div class="item">
                  <p>Use 8 or more characters with a mix of letters,numbers & symbols</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div id="container3" class="container3">
                <div class="item">
                  <a href="" class="underline">SignIn Instead</a>
                </div>
                <div id="NextButton" class="item">
                  <button mat-flat-button color="primary">Create</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div> 

  