
<div class="mainContainer">
    <div *ngIf="display;then takeNotes else inputNotes"></div>
    <ng-template #takeNotes>
        <div class="takenotes">
            <input class="notesbar" type="text" placeholder="Take a note..." (click)="display=!display" />
            <div>
                <button class="notesbutton">
                    <img class="notes_img" src="..\assets\Images\new_List.svg">
                </button>
                <button class="notesbutton">
                    <img class="notes_img" src="..\assets\Images\draw.svg">
                </button>
                <button class="notesbutton">
                    <img class="notes_img" src="..\assets\Images\image.svg">
                </button>
            </div> 
        </div>
    </ng-template>
    </div>
    <div class="notesContainer">
    <ng-template #inputNotes>
        <form [formGroup]="notesForm" (ngSubmit)="onSubmit()">
            <div class="createnotes">
                <div class="notesfield">
                    <div class="titlebar">
                        <input class="title" type="text" placeholder="Title" formControlName="title">
                        <button mat-icon-button class="notesbutton">
                            <img class="notes_img" src="..\assets\Images\pin.svg">
                        </button>
                    </div>
                    <input class="desc" type="text" placeholder="Take a note..." style="font-size: 15px;" formControlName="description">
                    <div class="notesicon">
                        <div class="icons">
                            <app-icons></app-icons>
                            <button mat-icon-button class="notesbutton" style="display: flex;gap:15px;">
                                <img id="7" class="moreicons" src="..\assets\Images\undo.svg">
                            </button>
                            <button mat-icon-button class="notesbutton" style="display: flex;gap:15px;">
                                <img id="8" class="moreicons" src="..\assets\Images\redo.svg">
                            </button>
                        </div>
                        <button mat-icon-button class="notesclose notesbutton">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</div>
