.notesContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.takenotes{
    display: flex;
    
}

.notesicon{
    display: flex;
    flex-direction: row;
}
.icons{
    display: flex;
}